---
import Layout from './Layout.astro';
import Title from '../components/app/Title.astro';
import { format } from '../lib/date';
import { links } from '@lib/links';

interface Frontmatter {
  title: string;
  author?: string;
  draft?: boolean;
  toy?: boolean;
  dateCreated?: string;
  dateUpdated?: string;
}

export interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props;

const { title, author, toy, dateCreated, dateUpdated } = frontmatter;

const linkToAuthor = author ? links[author] : undefined;

const dates = [format(dateCreated), format(dateUpdated)].filter((d) => !!d);

const prefixes = {
  0: [],
  1: ['on'],
  2: ['created on', 'updated on'],
}[dates.length as 0 | 1 | 2];

const formattedDate = dates.map((date, idx) => `${prefixes[idx]} ${date}`).join(' and ');
---

<Layout title={title}>
  <!-- .prose seems to with weird gap without margin so mitigate that with `-my-[n]` -->
  <article class="prose -my-3">
    <Title title={title} />
    {
      !toy && (
        <small class="text-slate">
          {author && (
            <span>
              <span class="text-stone">written by</span>{' '}
              {linkToAuthor ? <a href={linkToAuthor}>{author}</a> : author}
            </span>
          )}
          {formattedDate && <span class="text-stone">{formattedDate}</span>}
        </small>
      )
    }
    <slot />
  </article>
</Layout>
